<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">MVC Blog</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <div class="nav">
        <a href="/">Home</a> |
        <button class="no-button" id="logout">Logout</button> |
        <a class="post-button" href="/posts">Post</a>
        {{else}}
        <a href="/login">login/signup</a>
        {{!-- {{else}} --}}
        {{!-- <a href="/posts"></a> --}}
        {{/if}}
        </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/post.js"></script>
  <script src="../js/comment.js"></script>

  {{!-- {{else}} --}}
  {{!-- <script src="/js/login.js"></script> --}}
  {{/if}}
  {{!-- <h1 class="text-light"> --}}
    {{!-- Pure CSS Animated Gradient Background --}}
    {{!-- </h1> --}}

{{!-- <div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons"> --}}
	{{!-- <a href="https://codepen-api-export-production.s3.us-west-2.amazonaws.com/zip/PEN/pyBNzX/1578778289271/pure-css-gradient-background-animation.zip" class="d-block btn btn-outline-light" download><i class="fas fa-file-download mr-2"></i> --}}
  {{!-- Download Source --}}
  {{!-- </a> --}}
	{{!-- <a href="https://manuelpinto.in" target="_blank" class="d-block btn btn-outline-light"> --}}
  {{!-- Visit my Website --}}
  {{!-- <i class="fas fa-external-link-square-alt ml-2"></i></a> --}}
{{!-- </div> --}}

{{!-- <h6 class="text-light small font-weight-bold"><i class="fas fa-code"></i> --}}
 {{!-- with  --}}
 {{!-- <i class="fas fa-heart"></i> --}}
  {{!-- by Manuel Pinto --}}
  {{!-- </h6> --}}

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script> --}}
</body>

</html>