{{!-- <div id="comment-body">
 <div class="comments">
        <label for="comment-title">What would you like to say about this post?</label>
        <input class="comment-input" />
 </div>
      <div class="comment">
        <button class="btn btn-primary" id="confirm-comment" type="submit">Comment!</button>
      </div>
</div> --}}