<div id="post-body">
 <div class="posts">
   <div class="post-input-title">
        <label for="post-title">Title:</label><br>
        <input class="post-input" contenteditable />
   </div>
   <div class="post-body-input">
        <label>Body:</label><br>
        <input class="post-body" contenteditable />
   </div>
 </div>
        <button class="btn btn-primary" id="confirm-post" type="submit">Create Post!</button>
</div>