<div id="post-body">
 <div class="posts">
        <label for="post-title">title:</label>
        <input class="post-input" />
        <label>body:</label>
        <input class="post-body" />
 </div>
      <div class="post">
        <button class="btn btn-primary" id="confirm-post" type="submit">Post!</button>
      </div>
<div class="text-center">
</div>
</div>

{{!-- <script src="./js/post.js"></script> --}}