* {
    scrollbar-width: 0%;
    /* position: absolute; */
}

nav {
    background-color: darkgoldenrod;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    position: relative;
    /* font-size: 5px; */
}

a {
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bolder;
}

a:hover {
    cursor: pointer;
    background-color: cadetblue;
}

button {
    position: relative;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
    background-color: cadetblue;
}

main {
    position: relative;
    flex-wrap: wrap;
    text-align: center;
}

/* #post-body { */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: auto; */
/* } */

.posts {
    position: relative;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 5px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    flex-direction: column;
    /* display: inline-block; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    
}

.post-input-title {
    position: relative;
    background-color: ivory;
    float: left;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10%;
    margin: auto;
}

.post-body-input {
    position: relative;
    background-color: ivory;
    float: right;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10%;
    margin: auto;
}

.posts label {
    position: relative;
    font-weight: bolder;
    font-size: 20px;
    float: left;
}

.posts input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    resize: both;
    font-size: 17px;
}

#confirm-post {
    position: relative;
    margin-top: 1%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

#confirm-post:hover {
      cursor: pointer;
    background-color: cadetblue;
    border-radius: 5px;
}

.homepage-posts {
    position: relative;
    background-color: ivory;
    margin-top: 0.5%;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 3px;
}

.login-form {
    position: relative;
    background-color: ivory;
    /* float: left; */
    border-radius: 5px;
    border: 1px solid black;
    /* padding: 10%; */
    /* margin: auto; */
    margin-top: 0.5%;

}

.login-form button {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;

    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

.login-form input {
    position: relative;
    /* width: 100%; */
    margin: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    resize: both;
    font-size: 17px;
    margin-bottom: 1%;

}

.signup-form {
    position: relative;
    background-color: ivory;
    /* float: left; */
    border-radius: 5px;
    border: 1px solid black;
    /* padding: 10%; */
    /* margin: auto; */
    margin-top: 0.5%;
}

.signup-form button {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

.signup-form input {
    position: relative;
    /* width: 100%; */
    margin: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    resize: both;
    font-size: 17px;
    margin-bottom: 1%;
}

.post-section-body {
    position: relative;
    background-color: ivory;
    margin-top: 0.5%;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 3vw;
}

.post-section-body h2 {
    position: relative;
    padding-top: 3vw;
    text-decoration: underline;
}

.time-body {
    position: relative;
    margin-top: 1vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.712);
}

.post-deleter {
    position: relative;
    margin-top: 1%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

#comment-body {
    position: relative;
    background-color: ivory;
    margin-top: 0.5%;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    /* padding: 3px; */
    padding-bottom: 15px;
    padding-top: 15px;
}

#comment-body label {
    position: relative;
    /* margin-top: 0.5%; */
    font-weight: bolder;
    /* text-decoration: underline; */
    /* padding: 13px; */
}

.comment-input {
    position: relative;
    margin: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    resize: both;
    font-size: 17px;
    margin-bottom: 1%;
    width: 75%;
}

#confirm-comment {
    position: relative;
    margin-top: 1%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgoldenrod;
}

.posted-comments {
    position: relative;
    background-color: ivory;
    margin-top: 0.5%;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 3vw;
    padding-top: 3vw;
    overflow-wrap: break-word;
}