* {
    background-color: rgb(255, 240, 227);
}

button {
    border: none;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 240, 227, 0.685);
}

main {
    background-color: white;
    border-radius: 25px;
    /* flex-wrap: wrap; */
    text-align: center;
}